version: '3.8'

services:
  mongo1:
    image: mongo:6.0
    container_name: mongo1
    restart: always
    ports:
      - 27017:27017
    volumes:
      - ./data/mongo1:/data/db
    command: ["--replSet", "rs0", "--bind_ip_all"]

  mongo2:
    image: mongo:6.0
    container_name: mongo2
    restart: always
    ports:
      - 27018:27017
    volumes:
      - ./data/mongo2:/data/db
    command: ["--replSet", "rs0", "--bind_ip_all"]

  mongo3:
    image: mongo:6.0
    container_name: mongo3
    restart: always
    ports:
      - 27019:27017
    volumes:
      - ./data/mongo3:/data/db
    command: ["--replSet", "rs0", "--bind_ip_all"]

  mongo-init:
    image: mongo:6.0
    container_name: mongo-init
    depends_on:
      - mongo1
      - mongo2
      - mongo3
    volumes:
      - ./scripts:/scripts:ro
    entrypoint: ["bash", "-c", "chmod +x /scripts/wait-and-init.sh && /scripts/wait-and-init.sh"]
    restart: "no"
